[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
requests = "*"
summarizer = "*"
bs4 = "*"
datetime = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3"
