@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin: ;
    min-height: 100vh;
    border-width: 3mm;
    border-color: black;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.041);
}

#everything {
    border-width: 3mm;
    border-color: black;
    border-style: solid;
    border-radius: 4.5mm;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    margin-bottom: 8.8mm;
}

h1 {
    font-size: 3rem;
}

article {
    border-width: 1px;
    border-style: inset;
    border-color: rgb(43, 19, 0);
    border-radius: 4px;
    background-color: rgba(230, 104, 0, 0.137);
    margin: 10px;
    padding: 10px;
}

article div {
    display: flex;
    align-items: baseline;

}

article div p {
    white-space: nowrap;
    font-style: italic;

}








.readmorelink {
    font-size: 85%;
}

footer {
    background-color: lightgrey;
    position: fixed;
    height: 6.3mm;
    width: calc(100vw - 4mm);
    bottom: 2mm;
    margin: 0;
    visibility: hidden;
}

footer:hover {
    background-color: lightgrey;
    position: fixed;
    height: 6.3mm;
    width: calc(100vw - 4mm);
    bottom: 2mm;
    margin: 0;
}