@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

html {
    
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 3rem;

}

article {
    border-width: 1px;
    border-style: inset;
    border-color: black;
    margin: 10px;
    padding: 10px;

}

.readmorelink {
    font-size: 85%;


}

footer {
    background-color: lightgrey;
}
